<div class="panel panel-default">
    <div class="panel-heading">Parties in Line</div>
    <div class="panel-body">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody [dragula]='"lineup-bag"'>
                <tr *ngFor="let party of lineup;let i=index" class="col-12" (click)="partyReordered.emit({partyId:partyId})" [attr.partyId]="party.partyId" >
                    <td >{{ party.numberOfPeople }}</td>
                    <td>{{ party.partyName }}</td>
                    <td>
                        <button type="button" (click)="partyLeft.emit({ partyId: party.partyId })">
                            X
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr ngForm #party="ngForm">
    
                    <td>
                        <input name="numberOfPeople" type="number" ngModel placeholder="Number of People">
                    </td>
                    <td>
                        <input name="partyName" type="text" ngModel placeholder="Party Name">
                    </td>
                    <td>
                        <button type="button" (click)="partyJoined.emit(party.value)">
                            New Party
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <lineup-summary></lineup-summary>

</div>
