<div class="cear-fix m1">
    <div class="col col-4">
        <tb-lineup [lineup]="lineup$ | async" (partyJoined)="_lineupActions.joinLine($event)" (partyLeft)="_lineupActions.leaveLine($event)" (partyReordered)=_lineupActions.reorderLine($event)>
        </tb-lineup>
    </div>
    <div class="col col-8">
        <div class="clear-fix">
            <div class="col col-6 my2" *ngFor="let table of tables$ | async">
                <tb-table [table]="table" [parties]="lineup$" (seatParty)="_tableActions.seatParty($event)">

                    <button *ngIf="table.status === 'OCCUPIED'" type="button" (click)="_tableActions.startOrder(table.id)">
              Start Order
          </button>

                    <button *ngIf="table.status === 'ORDERED'" type="button" (click)="_tableActions.deliverOrder(table.id)">
            Deliver
          </button>

                    <button *ngIf="table.status === 'HAS_FOOD'" type="button" (click)="_tableActions.payBill(table.id)">
            Pay Bill
          </button>

                    <button *ngIf="table.status === 'DIRTY'" type="button" (click)="_tableActions.cleanTable(table.id)">
            Clean Table
          </button>

                    <template [ngIf]="table.status === 'ORDERING'">
            <tb-menu
              *ngIf="table.status === 'ORDERING'" 
              [menuItems]="menu$ | async" 
              [tableId]="table.id" 
              [currentOrder]="table.order"
              (itemAdded)="_tableActions.addItemToOrder($event)" 
              (itemRemoved)="_tableActions.removeItemFromOrder($event)">
            </tb-menu>

            <button
              type="button"
              (click)="_tableActions.completeOrder(table.id)">
              Complete Order
            </button>
          </template>
                </tb-table>
            </div>
        </div>
    </div>

    <div class="col col-5 m2">
        <tb-panel>
            <header>
                Pending Orders
            </header>
            <tb-orders *ngFor="let tableOrder of placedOrders$ | async" [order]="tableOrder" (itemAdded)="_tableActions.addItemToOrder($event)" (itemRemoved)="_tableActions.removeItemFromOrder($event)" (deliverOrder)="_tableActions.deliverOrder($event)">
            </tb-orders>
        </tb-panel>
    </div>

    <div class="col col-5 m2">
        <tb-panel>
            <header>Inventory</header>
            <table>
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let menuItem of menu$ | async">
                        <td>{{ menuItem.description }}</td>
                        <td>{{ menuItem.price }}</td>
                        <td>{{ menuItem.stock }}</td>
                    </tr>
                </tbody>
            </table>
        </tb-panel>
    </div>
</div>