<tb-panel>
  <header>
    Table Number: {{ table.id }}, # Of Seats {{ table.numberOfSeats }} - {{ table.status }} <br/>
  </header>
  <ng-content></ng-content>
  <footer *ngIf="table.status === 'CLEAN'">
    <form #curTable="ngForm">
      <select name="partyId" [(ngModel)]="partyId">
        <option [ngValue]="-1">--Select Party--</option>
         
        <template ngFor let-party [ngForOf]="parties | async">
          <option [ngValue]="party.partyId"
          *ngIf="party.numberOfPeople <= table.numberOfSeats">
            {{party.partyName}}
          </option>
        </template>
      </select>

      <button
        [disabled]="curTable.value.partyId == '-1'"
        type="button"
        (click)="seatParty.emit({ partyId:curTable.value.partyId, tableId: table.id })">
        Seat
      </button>
       
    </form>
  </footer>

</tb-panel>